<div>
  <p>{{body}}</p>
  <a href="/questions/{{question_id}}/answers/{{id}}/edit">Edit answer</a>
  <br>
  <a data-remote="true" rel="nofollow" data-method="delete" href="/answers/{{id}}">Delete answer</a>
  <br>
  <a data-remote="true" rel="nofollow" data-method="post" href="/questions/{{question_id}}/answers/{{id}}/best">Best answer</a>
</div>